@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    ViewData["HeaderClass"] = "sub-header";
    ViewData["HeaderContent"] = "<h1>Register</h1>";
}

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Create a New Account</h1>
            <form asp-controller="Account" asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn">Register</button>
            </form>

            <div class="additional-links">
                <p>Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
            </div>
        </div>
        <div class="about-col">
            <img src="~/css/anu/campus2.jpg">
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
