@{
    ViewData["Title"] = "About Us";
    ViewData["HeaderClass"] = "sub-header";
    ViewData["HeaderContent"] = "<h1>About Us</h1>";
}

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Upper Egypts Biggest University</h1>
            <p>Assiut University is a governmental university which mobilizes and directs its potentialities for the realization of its vision by providing the education required for the present and the future, graduating generations that can compete in labor market at both the local and international levels <br>and qualifying for excellence in the development of scientific research and technology<br> and research programs which contribute to the society development within university ethics.</p>
            <a href="http://www.aun.edu.eg/main/" class="btn red-btn">Explore Now</a>
        </div>
        <div class="about-col">
            <img src="~/css/anu/about.jpg">
        </div>
    </div>
</section>
