@{
    ViewData["Title"] = "Home";
    ViewData["HeaderClass"] = "header";
    ViewData["HeaderContent"] = @"<div class=""text-box"">
        <h1>Upper Egypt's Biggest University</h1>
        <p>Assiut National University in New Assiut City presents many distinguished academic programs during the upcoming academic year</p>
        <a href=""https://www.facebook.com/AssuitANU/"" target =""_blank"" class=""btn"">Visit Us To Know More</a>
    </div>";
}

<!-- Academics -->
<section class="fac">
    <h1 id="faculties">Faculties We Offer</h1>
    <p>Assiut National University in New Assiut City presents many distinguished academic programs during the upcoming academic year through (Engineering, Medical, Humanities and Social Sciences)</p>
    <div class="row">
        <div class="fac-col">
            <h3>Faculty of Computers & Artificial Intelligence</h3>
            <p>We believe that software and information technology is the future, hence we have recruited our knowledge in the fields of information system and automation mechanisms to serve our beliefs.</p>
        </div>
        <div class="fac-col">
            <h3>Faculty of Medicine</h3>
            <p>Faculty of Medicine at Assiut University stands out as a leading establishment for medical education in Upper Egypt</p>
        </div>
        <div class="fac-col">
            <h3>Faculty of Engineering & Applied Sciences</h3>
            <p>63 years of experience and excellence in Engineering academic fields including Electrical Engineering, Civil Engineering, Mechanical Engineering, Architectural Engineering, and Mining and Metallurgical Engineering</p>
        </div>
    </div>
</section>

<!--    campus     -->
<section class="campus">
    <h1>Welcome to the Campus</h1>
    <p>Assuit University aims to provide entertainment, individual, and cultural activities for the University students. Besides normal courses, the University supports students activities in order to enrich the students talents and characters. Moreover, the campus is rich with libraries, sports clubs, and theaters to serve ANU students.</p>
    <div class="row">
        <div class="camp-col">
            <img src="~/css/anu/campus1.jpg">
            <div class="layer">
                <h3>New Assiut City</h3>
            </div>
        </div>
        <div class="camp-col">
            <img src="~/css/anu/campus2.jpg">
            <div class="layer">
                <h3>New Assiut City</h3>
            </div>
        </div>
        <div class="camp-col">
            <img src="~/css/anu/campus3.jpg">
            <div class="layer">
                <h3>New Assiut City</h3>
            </div>
        </div>
    </div>
</section>

<!-- Facilities -->
<section class="facil">
    <h1>Our Facilities</h1>
    <p>Assuit University aims to provide entertainment, individual, and cultural activities for the University students. Besides normal courses, the University supports students' activities in order to enrich the students' talents and characters. Moreover, the campus is rich with libraries, sports clubs, and theaters to serve AUN students.</p>
    <div class="row">
        <div class="facili-col">
            <img src="~/css/anu/library.jpg">
            <h3>Library</h3>
            <p>A library is a collection of books, and possibly other materials and media</p>
        </div>
        <div class="facili-col">
            <img src="~/css/anu/WhatsApp Image 2023-09-17 at 02.09.40.jpg">
            <h3>Football</h3>
            <p>Football, also called association football or soccer, is a game involving two teams of 11 players</p>
        </div>
        <div class="facili-col">
            <img src="~/css/anu/dininghall.jpg">
            <h3>Cafetria</h3>
            <p>A cafeteria, sometimes called a canteen outside the U.S. and Canada, is a type of food service location</p>
        </div>
    </div>
</section>

<!-- FAQs -->
<section class="faq">
    <h1>What Our Students Says</h1>
    <p>AUN is playing an effective role in serving the economy and society annually.</p>
    <div class="row">
        <div class="faq-col">
            <img src="~/css/anu/54fa4ddd5e545e03a02f46b23d4f7058.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloremque, optio repellat ea blanditiis laborum. Excepturi, labore vero delectus debitis, provident consequuntur, dolore repellendus nesciunt maiores laboriosam itaque temporibus aut?</p>
                <h3>Youssef Mohamed</h3>
            </div>
        </div>
        <div class="faq-col">
            <img src="~/css/anu/20180719-dsc_8558.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloremque, optio repellat ea blanditiis laborum. Excepturi, labore vero delectus debitis, provident consequuntur, dolore repellendus nesciunt maiores laboriosam itaque temporibus aut?</p>
                <h3>Khadiga Hatem</h3>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <h1 id="contact">Enroll For Our Various Courses<br>Anywhere From The World</h1>
    <a asp-controller="Contact" asp-action="Index" class="btn">Contact Us</a>
</section>
