@model Service
@{
    ViewData["Title"] = "Digital Library";
    ViewData["HeaderClass"] = "sub-header";
    ViewData["HeaderContent"] = "<h1>Digital Library</h1>";
}

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Digital Library</h1>
            <p>The Digital Library provides access to a vast collection of electronic resources, including e-books, journals, research papers, and multimedia materials.</p>
            
            <h3>Resources Available</h3>
            <ul>
                <li>E-books and textbooks</li>
                <li>Academic journals</li>
                <li>Research databases</li>
                <li>Thesis and dissertation repository</li>
                <li>Educational videos and lectures</li>
            </ul>
            
            <h3>Access Information</h3>
            <p>The Digital Library is accessible 24/7 with your university credentials.</p>
            <p>For assistance, contact: library@assiut.edu</p>
            
            <a href="#" class="btn">Access Digital Library</a>
        </div>
        <div class="about-col">
            <img src="~/css/anu/library.jpg">
        </div>
    </div>
</section>
